<div class="container mt-4"> 
    <app-search-bar></app-search-bar>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col"> StockId </div>
                <div class="col"> StoreId </div>
                <div class="col"> ProductCode </div>
                <div class="col"> Quantity </div>
                <div class="col"> ConsumedQuantity</div>
                <div class="col"> CreationDate</div>
                <div class="col"></div>
              </div>
        </li>
        <li *ngFor="let stock of stocks" class="list-group-item" id="list-group-item">
          <div class="row">
            <div class="col"> {{ stock.stockId }}</div>
            <div class="col"> {{ stock.storeId }}</div>
            <div class="col"> {{ stock.productCode }}</div>
            <div class="col"> {{ stock.quantity }}</div>
            <div class="col"> {{ stock.consumedQuantity }}</div>
            <div class="col"> {{ stock.creationDate }}</div>
            <div class="col">
              <button type="button" class="btn btn-link p-0">
                <img src="../../../../assets/icons/edit.png" alt="edit icon" style="width: 25px; height: 25px;">
              </button>
              <span style="margin-right: 10px;"></span>
              <button type="button" class="btn btn-link p-0">
                <img src="../../../../assets/icons/delete.png" alt="delete icon" style="width: 25px; height: 25px;">
              </button>
            </div>
          </div>
        </li>
      </ul>
</div>
