<nav>
  <ul class="list-group side-nav">
    <li
      class="list-group-item side-nav-item"
      routerLink="/coupon-service/list-coupons"
      routerLinkActive="active"
    >
      List Coupons
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/coupon-service/create-coupon"
      routerLinkActive="active"
    >
      Create Coupon
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/coupon-service/update-coupon"
      routerLinkActive="active"
    >
      Update Coupon
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/coupon-service/delete-coupon"
      routerLinkActive="active"
    >
      Delete Coupon
    </li>
  </ul>
</nav>
