<nav>
    <ul class="list-group side-nav">
        <li
        class="list-group-item side-nav-item"
        routerLink="/store-service/create-store"
        routerLinkActive="active"
        >
        Create Store
        </li>
        <li
        class="list-group-item side-nav-item"
        routerLink="/store-service/list-stores"
        routerLinkActive="active"
        >
        List Stores
        </li>
        <li
        class="list-group-item side-nav-item"
        routerLink="/store-service/create-stock"
        routerLinkActive="active"
        >
        Create Stock
        </li>
        
        <li
        class="list-group-item side-nav-item"
        routerLink="/store-service/list-stocks"
        routerLinkActive="active"
        >
        List Stocks
        </li>
    </ul>
  </nav>
  