<nav>
  <ul class="list-group side-nav">
    <li
      class="list-group-item side-nav-item"
      routerLink="/product-service/list-products"
      routerLinkActive="active"
    >
      List Products
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/product-service/create-product"
      routerLinkActive="active"
    >
      Create Product
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/product-service/update-product"
      routerLinkActive="active"
    >
      Update Product
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/product-service/delete-product"
      routerLinkActive="active"
    >
      Delete Product
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/product-service/list-product-history"
      routerLinkActive="active"
    >
      List Product History
    </li>
    <li
      class="list-group-item side-nav-item"
      routerLink="/product-service/create-category"
      routerLinkActive="active"
    >
      Create Category
    </li>
  </ul>
</nav>
