<div class="container mt-4">
    <h2>Create Stock</h2>
    <form (ngSubmit)="onSubmit( )" #stockForm="ngForm">
        <div class="mb-3">
            <label for="productCode" class="form-label">Product Code: </label>
            <input
              type="text"
              id="productCode"
              name="productCode"
              class="form-control"
              [(ngModel)]="stock.productCode"
              required
            />
        </div>
        <div class="mb-3">
            <label for="storeId" class="form-label">Store id: </label>
            <input
              type="number"
              id="storeId"
              name="storeId"
              class="form-control"
              [(ngModel)]="stock.storeId"
              required
            />
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity: </label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              class="form-control"
              [(ngModel)]="stock.quantity"
              required
            />
        </div>
        <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!stockForm.valid"
        >
            Create Stock
        </button>
    </form>
</div>